In [ ]:
# wordcloud and boost specific words?
# statsmodels, ordinary least squares, pvalue

In [1]:
import pandas as pd
import numpy as np
from string import punctuation
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

In [2]:
fname = "../data/S1_8Sharktankpitchesdeals.csv"
data = pd.read_csv(fname)
# data["Number_Sharks"] = data["Kevin O'Leary"] + data["Lori Greiner"] + data["Mark Cuban"] + data["Robert Herjavec"] + data["Daymond John"] + data["Barbara Corcoran"] + data["Others"]
data

,Season_Epi_code,Pitched_Business_Identifier,Amount_Asked_For,Exchange_For_Stake,Valuation,Gender,Category,Pitched_Business_Desc,Deal_Status,Kevin O'Leary,...,Mark Cuban,Robert Herjavec,Daymond John,Barbara Corcoran,Others,Deal_Shark 1,Deal_Shark 2,Deal_Shark 3,Deal_Shark 4,Deal_Shark 5
0,101,Ava the Elephant,50000,0.15,333333.0,Female,Health / Wellness,"(Emmy the Elephant during show, trademarked a...",1,0,...,0,0,0,1,0,Barbara Corcoran,NaN,NaN,NaN,NaN
1,101,College Foxes Packing Boxes,250000,0.25,1000000.0,Male,Lifestyle / Home,a packing and organizing service based on an a...,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,101,Ionic Ear,1000000,0.15,6666667.0,Male,Software / Tech,an implantable Bluetooth device requiring surg...,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,101,Mr. Tod's Pie Factory,460000,0.10,4600000.0,Male,Food and Beverage,a pie company,1,0,...,0,0,1,1,0,Barbara Corcoran,Daymond John,NaN,NaN,NaN
4,101,Wispots,1200000,0.10,12000000.0,Male,Business Services,an electronic hand-held device for waiting roo...,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,824,Wallet Buckle,500000,0.10,5000000.0,Male,Fashion / Beauty,a belt buckle that holds credit cards . The Wa...,1,0,...,0,1,0,0,0,Robert Herjavec,NaN,NaN,NaN,NaN
700,826,Bridal Buddy,75000,0.10,750000.0,Female,Fashion / Beauty,a functional slip worn under a wedding gown th...,1,1,...,0,0,0,0,0,Kevin O'Leary,Lori Greiner,NaN,NaN,NaN
701,826,Laid Brand,30000,0.30,100000.0,Male,Fashion / Beauty,hair-care products made with pheromones . Laid...,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
702,826,Rocketbook,400000,0.10,4000000.0,Male,Software / Tech,a notebook that can scan contents to cloud ser...,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
703,826,Wine & Design,500000,0.10,5000000.0,Mixed,Media / Entertainment,painting classes with wine served . Wine & Des...,1,1,...,0,0,0,0,0,Kevin O'Leary,NaN,NaN,NaN,NaN

In [3]:
# Choose model output

# "Deal_Status"
# "Number_Sharks"
# "Deal_Shark 1"

# "Kevin O'Leary"
# "Barbara Corcoran"
# "Robert Herjavec"
# "Daymond John"
# "Lori Greiner"
# "Mark Cuban"
# "Others"
shark_to_model = "Deal_Shark 1"

In [4]:
# drop rows where shark_to_model is Nan
data=data.dropna(subset=[shark_to_model]).reset_index(drop=True)
data

,Season_Epi_code,Pitched_Business_Identifier,Amount_Asked_For,Exchange_For_Stake,Valuation,Gender,Category,Pitched_Business_Desc,Deal_Status,Kevin O'Leary,...,Mark Cuban,Robert Herjavec,Daymond John,Barbara Corcoran,Others,Deal_Shark 1,Deal_Shark 2,Deal_Shark 3,Deal_Shark 4,Deal_Shark 5
0,101,Ava the Elephant,50000,0.15,333333.0,Female,Health / Wellness,"(Emmy the Elephant during show, trademarked a...",1,0,...,0,0,0,1,0,Barbara Corcoran,NaN,NaN,NaN,NaN
1,101,Mr. Tod's Pie Factory,460000,0.10,4600000.0,Male,Food and Beverage,a pie company,1,0,...,0,0,1,1,0,Barbara Corcoran,Daymond John,NaN,NaN,NaN
2,102,A Perfect Pear,500000,0.15,3333333.0,Female,Food and Beverage,a gourmet food business . a gourmet food business,1,0,...,0,1,0,0,0,Robert Herjavec,NaN,NaN,NaN,NaN
3,102,Classroom Jams,250000,0.10,2500000.0,Male,Children / Education,a musical way to teach students Shakespeare . ...,1,1,...,0,1,1,1,0,Barbara Corcoran,Daymond John,Kevin O'Leary,Robert Herjavec,NaN
4,103,Stress Free Kids,250000,0.20,1250000.0,Female,Children / Education,a line of books that use stress relieving tech...,1,0,...,0,0,0,1,0,Barbara Corcoran,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,824,Rumi Spice,250000,0.05,5000000.0,Mixed,Food and Beverage,saffron imported from Afghanistan . Rumi Spice...,1,0,...,1,0,0,0,0,Mark Cuban,NaN,NaN,NaN,NaN
378,824,Thompson Tee,700000,0.07,10000000.0,Male,Fashion / Beauty,undershirts designed to block underarm sweat ....,1,0,...,0,1,0,0,0,Robert Herjavec,NaN,NaN,NaN,NaN
379,824,Wallet Buckle,500000,0.10,5000000.0,Male,Fashion / Beauty,a belt buckle that holds credit cards . The Wa...,1,0,...,0,1,0,0,0,Robert Herjavec,NaN,NaN,NaN,NaN
380,826,Bridal Buddy,75000,0.10,750000.0,Female,Fashion / Beauty,a functional slip worn under a wedding gown th...,1,1,...,0,0,0,0,0,Kevin O'Leary,Lori Greiner,NaN,NaN,NaN
381,826,Wine & Design,500000,0.10,5000000.0,Mixed,Media / Entertainment,painting classes with wine served . Wine & Des...,1,1,...,0,0,0,0,0,Kevin O'Leary,NaN,NaN,NaN,NaN

In [5]:
# Custom tokenizer from class activity 22-1-4
stopwords = stopwords.words( 'english' ) + list(punctuation)
stemmer = PorterStemmer()
# Stemming
punc_list = list(punctuation)
def special_remove(word):
    if len(word)>2:
        return False
    for c in word:
        if c in punc_list:
            return True
    return False

# custom function that overrides default token generation
def custom_tokenizer(text):
    text = text.lower()
    words = nltk.word_tokenize(text)
    words = [stemmer.stem(w) for w in words if w not in stopwords+["..."]]
    # further remove words with a special char
    words = [w for w in words if not special_remove(w)]
    return words

activity_vectorizer = TfidfVectorizer(ngram_range=(1,2)
                            ,tokenizer=custom_tokenizer 
                            ,stop_words='english'
                            # ,min_df=2
                            ,strip_accents='unicode'
                            )

activity_vectors = activity_vectorizer.fit_transform(data["Pitched_Business_Desc"])
activity_df = pd.DataFrame(activity_vectors.toarray(), columns=activity_vectorizer.get_feature_names())
activity_df

C:\Users\atk285\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\sklearn\feature_extraction\text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['afterward', 'alon', 'alreadi', 'alway', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becom', 'besid', 'cri', 'describ', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'formerli', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'latterli', 'mani', 'meanwhil', 'moreov', 'mostli', 'nobodi', 'noon', 'noth', 'nowher', 'otherwis', 'perhap', 'pleas', 'seriou', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'thenc', 'thereaft', 'therebi', 'therefor', 'thu', 'togeth', 'twelv', 'twenti', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

,-not,-not simpli,10,10 day,10 net,"10,000","10,000 run",10-30,10-30 minut,100,...,“ sun,“ sunglass,“ theyr,“ total,“ uv,“ wrap,”,” peopl,” potato,” prevent
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
activity_vectorizer.get_feature_names()

['-not',
 '-not simpli',
 '10',
 '10 day',
 '10 net',
 '10,000',
 '10,000 run',
 '10-30',
 '10-30 minut',
 '100',
 '100 food',
 '100 guarante',
 '100 mile',
 '100 natur',
 '100 recycl',
 '100 time',
 '100 zinc',
 '12',
 '12 fashion',
 '123',
 '123 plush',
 '15',
 '15 flavor',
 '150',
 '150 90',
 '2',
 '2 ipad',
 '2-5',
 '2-5 age',
 '2-in-1',
 '2-in-1 spray',
 '2012',
 '2012 pipcorn',
 '20mph',
 '20mph 30mph',
 '21st',
 '21st centuri',
 '23',
 '23 ounc',
 '24',
 '24 mph',
 '2400',
 '2400 expert',
 '2400 sat',
 '26',
 '26 pound',
 '26g',
 '26g protein',
 '270',
 '270 shoe',
 '3',
 '3 design',
 '3 ipad',
 '3 pack',
 '3-d',
 '3-d design',
 '3-in-1',
 '3-in-1 nail',
 '30',
 '30 minut',
 '300,000',
 '300,000 fund',
 '30mph',
 '30mph travel',
 '35',
 '35 univers',
 '360',
 '360 degre',
 '360-degre',
 '360-degre pictur',
 '3d',
 '3d pop-up',
 '3d touch-bas',
 '4',
 '40+',
 '40+ mile',
 '5',
 '5 minut',
 '5-in-1',
 '5-in-1 babi',
 '5-in-1 convert',
 '50',
 '50 calib',
 '50 mph',
 '5g',
 '5g frutos',
 '6',
 '6 gram',
 '7',
 '7 bottl',
 '7 day',
 '73',
 '73 93',
 '8',
 '8 hour',
 '87',
 '87 coal',
 '90',
 '90 success',
 '93',
 '93 size',
 '99.9',
 '99.9 germ',
 'aaron',
 'aaron marino',
 'ab',
 'ab protein',
 'abil',
 'abil sync',
 'abl',
 'abl eat',
 'absolut',
 'absolut delici',
 'absorb',
 'absorb releas',
 'absorb shoe',
 'absorb urin',
 'ac',
 'ac speed',
 'accent',
 'accent woman',
 'access',
 'access card',
 'access properti',
 'accessori',
 'accessori allow',
 'accessori apparel',
 'accessori chew',
 'accessori design',
 'accessori filter',
 'accessori got',
 'accessori guy',
 'accessori humor',
 'accessori innov',
 'accessori locat',
 'accessori manufactur',
 'accessori pet',
 'accessori plain',
 'accessori silicon',
 'accessori snap-on',
 'accessori œmade',
 'accid',
 'accid includ',
 'accident',
 'accident drop',
 'accordion',
 'accordion lumio',
 'accustom',
 'accustom great',
 'acid',
 'acid wash',
 'act',
 'act effect',
 'act test',
 'action',
 'action figur',
 'action sport',
 'activ',
 'activ babi',
 'activ middl',
 'activ person',
 'actual',
 'actual score',
 'acupressur',
 'acupressur devic',
 'acupressur high',
 'acupressur massag',
 'ad',
 'ad featur',
 'add',
 'add burst',
 'addit',
 'addit lotion',
 'addit restor',
 'addit separ',
 'adjust',
 'adjust ring',
 'adjust sport',
 'admittedli',
 'admittedli red',
 'adult',
 'adult alik',
 'adult children',
 'adult kid',
 'advanc',
 'advanc filter',
 'advantag',
 'advantag help',
 'adventur',
 'adventur compani',
 'aerial',
 'aerial ensur',
 'affect',
 'affect conflict',
 'affect health',
 'affili',
 'affili stem',
 'affor',
 'affor fashion',
 'afford',
 'afford conveni',
 'afford fresh',
 'afford product',
 'afganistan',
 'afganistan add',
 'afghanistan',
 'afghanistan rumi',
 'agav',
 'agav nectar',
 'age',
 'age experi',
 'age rang',
 'agenc',
 'agenc recreat',
 'agent',
 'agent inspector',
 'aha',
 'aha usa',
 'ahhh\x9d',
 'ahhh\x9d kind',
 'aid',
 'aid mother',
 'aid ointment',
 'aim',
 'aim wheat',
 'air',
 'air car',
 'air filtrat',
 'air flow',
 'air mattress',
 'air speed',
 'air tank',
 'air vent',
 'airbnb',
 'airbnb colleg',
 'airplan',
 'airplan firetruck',
 'airpod',
 'airpod new',
 'airpod zero',
 'airspac',
 'airspac america',
 'airtight',
 'airtight plate',
 'alarm',
 'alarm fireavert',
 'alarm smoke',
 'alert',
 'alert anyon',
 'alik',
 'alik enjoy',
 'all-in-on',
 'all-in-on placemat',
 'all-in-on track',
 'all-in-on wash',
 'all-natur',
 'all-natur dog',
 'all-natur gmo-fre',
 'all-natur industri',
 'all-terrain',
 'all-terrain vehicl',
 'allegedli',
 'allegedli heal',
 'allergi',
 'allergi line',
 'alley',
 'alley superior',
 'allow',
 'allow anyon',
 'allow attach',
 'allow bare-hand',
 'allow boarder',
 'allow check',
 'allow children',
 'allow client',
 'allow custom',
 'allow effortlessli',
 'allow enjoy',
 'allow head',
 'allow inflat',
 'allow kid',
 'allow peopl',
 'allow pet',
 'allow privaci',
 'allow quicker',
 'allow quickli',
 'allow real',
 'allow realli',
 'allow ride',
 'allow schedul',
 'allow seamlessli',
 'allow send',
 'allow trim',
 'allow wearer',
 'allow wed',
 'allow wirelessli',
 'alpha',
 'alpha gpc',
 'alreadi',
 'alreadi gotten',
 'altern',
 'altern chemic',
 'altern chew',
 'altern elf',
 'altern honey',
 'altern peat',
 'altern popcorn',
 'altern tradit',
 'altern train',
 'aluminum',
 'aluminum foil',
 'aluminum soda',
 'alumni',
 'alumni love',
 'alumni sweater',
 'alwan',
 'alwan gener',
 'alway',
 'amaz',
 'amaz lure',
 'amaz meat',
 'amazingli',
 'amazingli delici',
 'america',
 'america leader',
 'amplifi',
 'amplifi enhanc',
 'android',
 'android plush',
 'anim',
 'anim alik',
 'anim charact',
 'anim favorit',
 'anim friend',
 'ankl',
 'ankl calf',
 'annoy',
 'annoy costli',
 'annoyingli',
 'annoyingli fall',
 'anoth',
 'anoth lori',
 'anoth reason',
 'anoth tradit',
 'answer',
 'answer portabl',
 'answer twin',
 'answer ugli',
 'anybodi',
 'anybodi worn',
 'anyon',
 'anyon cook',
 'anyon els',
 'anyon friend',
 'anyon use',
 'anyth',
 'anyth realli',
 'anyth rfid',
 'anyth saw',
 'anyth think',
 'anytim',
 'anytim anywher',
 'anytim emerg',
 'anytim surfboard',
 'anywher',
 'anywher freezer',
 'anywher hous',
 'apollo',
 'apollo peak',
 'app',
 'app 360-degre',
 'app allow',
 'app gear',
 'app help',
 'app hide',
 'app ilumi',
 'app kit',
 'app let',
 'app measur',
 'app phone',
 'app provid',
 'app send',
 'app stop',
 'app sworkit',
 'appar',
 'appar weve',
 'apparel',
 'apparel accessori',
 'apparel design',
 'apparel especi',
 'apparel fashion',
 'apparel high-qual',
 'apparel light',
 'apparel twist',
 'appl',
 'appl grown',
 'apple-bas',
 'apple-bas vegan',
 'appli',
 'appli cream',
 'appli pressur',
 'appli sunscreen',
 'applianc',
 'applianc shower',
 'applic',
 'applic convert',
 'applic door',
 'approv',
 'approv contact',
 'approv lollacup',
 'architect',
 'architect engin',
 'area',
 'arita',
 'arita texa',
 'armband',
 'armband person',
 'arrang',
 'arrang kid',
 'arriv',
 'arriv gameday',
 'art',
 'art children',
 'art greet',
 'art innov',
 'art make',
 'art mini',
 'art snugli',
 'art trend',
 'artifici',
 'artifici cadav',
 'artifici flower',
 'artisan',
 'artisan bodi',
 'artisan coffe',
 'artisan cream',
 'artist',
 'artist guid',
 'artist transform',
 'asid',
 'asid conveni',
 'asid look',
 'ask',
 'ask joul',
 'aspir',
 'aspir young',
 'assembl',
 'assembl requir',
 'assembl world',
 'associ',
 'associ beauti',
 'associ chees',
 'associ technolog',
 'assort',
 'assort color',
 'athlet',
 'athlet level',
 'athlet sock',
 'athletic',
 'attach',
 'attach chair',
 'attach dome',
 'attach facial',
 'attach glass',
 'attach hood',
 'attach ipad',
 'attach poster',
 'attend',
 'attend want',
 'attent',
 'attent fresh',
 'attorney',
 'attorney 150',
 'attract',
 'attract entertain',
 'attract fish',
 'attract game',
 'ava',
 'ava plastic',
 'avail',
 'avail 73',
 'avail differ',
 'avail final',
 'avail household',
 'avail infant',
 'avail men',
 'avail origin',
 'avail super',
 'avail truffl',
 'avail varieti',
 'avail women',
 'averag',
 'averag tee',
 'averag woman',
 'avert',
 'avert super',
 'avoid',
 'avoid crash',
 'avoid shake',
 'award',
 'award win',
 'away',
 'away cooki',
 'awesom',
 'awesom featur',
 'awesom ugli',
 'awkward',
 'awkward situat',
 'awkward way',
 'b-vitamin',
 'b-vitamin import',
 'b12',
 'b12 alpha',
 'b6',
 'b6 b12',
 'babi',
 'babi babi',
 'babi blanket',
 'babi bottl',
 'babi calm',
 'babi chang',
 'babi face',
 'babi fantast',
 'babi health',
 'babi improv',
 'babi kid',
 'babi lobster',
 'babi mat',
 'babi mimick',
 'babi moccasin',
 'babi remov',
 'babi stroller',
 'babi swaddl',
 'babi tranquilo',
 'backpack',
 'backpack bag',
 'backpack boat',
 'backpack kid',
 'backpack school',
 'backpack theft-proof',
 'backpack uniqu',
 'backyard',
 'bacteria',
 'bacteria cell',
 'bacteria-fil',
 'bacteria-fil toilet',
 'bad',
 'bad habit',
 'bad postur',
 'bad toilet',
 'bag',
 'bag backpack',
 'bag bustl',
 'bag chair',
 'bag clean',
 'bag digiwrap',
 'bag dispos',
 'bag hand',
 'bag innov',
 'bag recycl',
 'bag temporari',
 'bag use',
 'bag world',
 'bagel',
 'bagel ball',
 'bagel compact',
 'bagel crispi',
 'bagel lover',
 'bagel pre-fil',
 'bake',
 'bake compani',
 'bake experi',
 'bake kit',
 'bake product',
 'balanc',
 'balanc bike',
 'balanc board',
 'balanc momentum',
 'balanc strengthen',
 'ball',
 'ball bound',
 'ball cake',
 'ball shampoo',
 'ball shape',
 'ball varieti',
 'ball “',
 'balm',
 'bamboo',
 'bamboo avail',
 'bamboo paper',
 'bandag',
 'bandag color',
 'bantam',
 'bantam bagel',
 'bar',
 'bar complet',
 'bar cricket',
 'bar custom',
 'bar element',
 'bar fuel',
 'bar healthi',
 'bar let',
 'bar lotion',
 'bar select',
 'bar turbopup',
 'bar want',
 'barbecu',
 'barbecu sauc',
 'bare-hand',
 'bare-hand task',
 'base',
 'base cocktail',
 'base model',
 'base puppi',
 'bass',
 'bass amaz',
 'bass love',
 'bass lure',
 'bast',
 'bath',
 'bath suit',
 'bath time',
 'bathroom',
 'bathroom night',
 'bathroom use',
 'bathroom wear',
 'bathroom wrong',
 'batteri',
 'batteri 24',
 'batteri clock',
 'batteri pressur',
 'batteri requir',
 'battle-test',
 'battle-test action',
 'bay',
 'bay premium',
 'bay+',
 'bbq',
 'bbq food',
 'beach',
 'beach chair',
 'beach towel',
 'bean',
 'bean bag',
 'bean chia',
 'beard',
 'beard clip',
 'beard king',
 'beard product',
 'beartek',
 'beartek smartglov',
 'beat',
 'beat music',
 'beatbox',
 'beatbox contain',
 'beatbox innov',
 'beauti',
 'beauti bar',
 'beauti classic',
 'beauti design',
 'beauti identifi',
 'beauti innov',
 'beauti organ',
 'beauti product',
 'beauti way',
 'becom',
 'becom creepi',
 'becom friend',
 'bed',
 'bed bean',
 'bed bug',
 'bed collar',
 'bed flat',
 'bed neck',
 'bee',
 'bee free',
 'beebo',
 'beebo new',
 'beef',
 'beef jerki',
 'beer',
 'beer better',
 'beer blizzard',
 'beer bottl',
 'beer cup',
 'beer fizzic',
 'beer make',
 'beer soda',
 'beer tast',
 'beet',
 'beet allow',
 'beg',
 'beg merci',
 'begin',
 'begin craft',
 'belly\x9d',
 'belly\x9d phone',
 'belt',
 'belt accessori',
 'belt belt',
 'belt buckl',
 'belt modern',
 'belt purchas',
 'belt reinvent',
 'belt special',
 'belt strap',
 'belt use',
 'bench',
 'bench creat',
 'bench set',
 'bend',
 'bend break',
 'bendabl',
 'bendabl construct',
 'beneath',
 'beneath make',
 'benefit',
 'berri',
 'berri mix',
 'best',
 'best anim',
 'best bike',
 'best em',
 'best friend',
 'best ham',
 'best primarili',
 'best restaur',
 'best sell',
 'best stuck',
 'best suit',
 'best techniqu',
 'best-of-bre',
 'best-of-bre product',
 'better',
 'better bottl',
 'better glass',
 'better grip',
 'better handl',
 'better inform',
 'better odor',
 'better person',
 'better solut',
 'better way',
 'better workout',
 'betterback',
 'betterback support',
 'beverag',
 'beverag cat',
 'beverag content',
 'beverag drinkabl',
 'beverag holder',
 'beverag kooler',
 'beverag koozi',
 'beverag like',
 'beverag tast',
 'beverag temperatur',
 'bib',
 'bib use',
 'bicycl',
 'bicycl customiz',
 'bicycl improv',
 'bicycl men',
 'biggest',
 'biggest fish',
 'bike',
 'bike confid',
 'bike help',
 'bike kazam',
 'bike kid',
 'bike leaki',
 'bike light',
 'bike make',
 'bike provid',
 'bikini',
 'bikini mix',
 'billboard',
 'billboard rareform',
 'billboard vinyl',
 'biodegrad',
 'biodegrad plant-bas',
 'bird',
 'bird didnt',
 'bit',
 'bit averag',
 'bit kilter',
 'bit like',
 'bite',
 'bite bring',
 'bite-s',
 'bite-s fun',
 'black',
 'black acid',
 'bladder',
 'bladder problem',
 'blade',
 'blade cut',
 'blanket',
 'blanket bed',
 'blanket warmth',
 'blend',
 'blend blendtiqu',
 'blend experi',
 'blend hardwood',
 'blend kit',
 'blend natur',
 'blend process',
 'blend select',
 'blendtiqu',
 'blendtiqu wine',
 'bliss',
 'bliss comfort',
 'blizzard',
 'blizzard plastic',
 'bloat',
 'bloat ib',
 'block',
 'block flexibl',
 'block light',
 'block stack',
 'block underarm',
 'blond',
 'blond mapl',
 'blue',
 'blue razzberri',
 'bluetooth',
 'bluetooth allow',
 'board',
 'board better',
 'board combin',
 'board compani',
 'board perfect',
 'board strap',
 'board twist',
 'board workout',
 'boarder',
 'boarder avoid',
 'boat',
 'boat asid',
 'boat duck',
 'boat truck',
 'bobber',
 'bobber come',
 'bobber fisher',
 'bobber initi',
 'bobber shell',
 'bodi',
 'bodi care',
 'bodi jewelri',
 'bodi light',
 'bodi major',
 'bodi medic',
 'bodi scrub',
 'bodi sore',
 'bodi spray',
 'bodi wash',
 'bodi “',
 'bold',
 'bold eco-friendli',
 'bomb-a-lici',
 'bomb-a-lici buffalo',
 'bomba',
 'bomba offer',
 'bomba realli',
 'bone',
 'bone remov',
 'book',
 'book close',
 'book form',
 'book lamp',
 'book remov',
 'book subscript',
 'book use',
 'boom',
 'boom box',
 'boost',
 'boost bar',
 'boost energi',
 'boot',
 'boot interchang',
 'boot sock',
 'bootyqueen',
 'bootyqueen apparel',
 'boss',
 'boss competit',
 'bottl',
 'bottl advanc',
 'bottl avoid',
 'bottl beer',
 'bottl breacher',
 'bottl drink',
 'bottl feed',
 'bottl hold',
 'bottl holder',
 'bottl nnohbo',
 'bottl open',
 'bottl style',
 'bottl unshrinkit',
 'bottl worth',
 'bottl “',
 'bounci',
 'bounci shini',
 'bound',
 'bound sure',
 'bouquet',
 'bouquet creat',
 'bouquet recycl',
 'bow',
 'bow tie',
 'bowel',
 'bowel movement',
 'bowl',
 'bowl built-in',
 'bowl cook',
 'bowl glow',
 'bowl multi-purpos',
 'bowl rice',
 'bowl save',
 'bowl sleev',
 'bowl spill',
 'bowti',
 'bowti hat',
 'box',
 'box 21st',
 'box ad',
 'box arita',
 'box collaps',
 'box design',
 'box game',
 'box includ',
 'box look',
 'box modern',
 'box pilot',
 'box possibl',
 'box recycl',
 'box servic',
 'box sticker',
 'box use',
 'box wine',
 'boy',
 'boy creativ',
 'bra',
 'bra pocket',
 'bra realli',
 'bra shefitcr',
 'brace',
 'brace act',
 'brace littl',
 'bracelet',
 'bracelet allegedli',
 'braid',
 'braid fish',
 'brain',
 'brain follow',
 'brain stimul',
 'brain supplement',
 'brake',
 'brake guardian',
 'brake reduc',
 'brake relat',
 'brakelight',
 'brakelight true',
 'brand',
 'brand barbecu',
 'brand box',
 'brand greenbox',
 'brand market',
 'brand modern',
 'brand packag',
 'brand singl',
 'brand women',
 'brazi',
 'brazi bite',
 'brazil',
 'brazil popular',
 'brazilian',
 'brazilian chees',
 'breacher',
 'breacher help',
 'bread',
 'bread brazi',
 'bread œpao',
 'break',
 'break sturdi',
 'breastfeed',
 'breastfeed bottl',
 'breath',
 'breath hand',
 'breath reviv',
 'breathabl',
 'breathabl waterproof',
 'breathalyz',
 'breathalyz smartphon',
 'brick',
 'brick wood',
 'bridal',
 'bridal buddi',
 'bride',
 'bride bag',
 'bride bathroom',
 'bright',
 ...]

In [7]:
# Choose features

# To include Pitch, comment in next line, and comment out the following line
# To exclude Pitch, comment out next line, and comment in the following line

selected_features = activity_df
# selected_features = pd.DataFrame([])

selected_features["Gender"]=data["Gender"]
selected_features["Category"]=data["Category"]
selected_features["Amount_Asked_For"]=data["Amount_Asked_For"]
selected_features["Exchange_For_Stake"]=data["Exchange_For_Stake"]
selected_features["Valuation"]=data["Valuation"]
selected_features

,-not,-not simpli,10,10 day,10 net,"10,000","10,000 run",10-30,10-30 minut,100,...,“ wrap,”,” peopl,” potato,” prevent,Gender,Category,Amount_Asked_For,Exchange_For_Stake,Valuation
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Female,Health / Wellness,50000,0.15,333333.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Male,Food and Beverage,460000,0.10,4600000.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Female,Food and Beverage,500000,0.15,3333333.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Male,Children / Education,250000,0.10,2500000.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Female,Children / Education,250000,0.20,1250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Mixed,Food and Beverage,250000,0.05,5000000.0
378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Male,Fashion / Beauty,700000,0.07,10000000.0
379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Male,Fashion / Beauty,500000,0.10,5000000.0
380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Female,Fashion / Beauty,75000,0.10,750000.0
381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Mixed,Media / Entertainment,500000,0.10,5000000.0

In [8]:
selected_features = pd.get_dummies(selected_features)
selected_features

,-not,-not simpli,10,10 day,10 net,"10,000","10,000 run",10-30,10-30 minut,100,...,Category_Fitness / Sports / Outdoor,Category_Food and Beverage,Category_Green / Clean Tech,Category_Health / Wellness,Category_Lifestyle / Home,Category_Media / Entertainment,Category_Pet Products,Category_Software / Tech,Category_Travel,Category_Uncertain / Other
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0

In [9]:
selected_features.columns

Index(['-not', '-not simpli', '10', '10 day', '10 net', '10,000', '10,000 run',
       '10-30', '10-30 minut', '100',
       ...
       'Category_Fitness / Sports / Outdoor', 'Category_Food and Beverage',
       'Category_Green / Clean Tech', 'Category_Health / Wellness',
       'Category_Lifestyle / Home', 'Category_Media / Entertainment',
       'Category_Pet Products', 'Category_Software / Tech', 'Category_Travel',
       'Category_Uncertain / Other'],
      dtype='object', length=8654)

In [10]:
model = MultinomialNB()
X_smote, y_smote = SMOTE().fit_sample(selected_features, data[[shark_to_model]].values.ravel())
X = X_smote
y = y_smote

# X = selected_features
# y = data[[shark_to_model]].values.ravel()
print(X.shape)
print(y.shape)

(553, 8654)
(553,)

In [11]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2, f_classif
# #apply SelectKBest class to extract top 10 best features
# bestfeatures = SelectKBest(score_func=f_classif, k=6)
# fit = bestfeatures.fit(X,y)
# dfscores = pd.DataFrame(fit.scores_)
# dfpvalues = pd.DataFrame(fit.pvalues_)
# dfcolumns = pd.DataFrame(X.columns)
# #concat two dataframes for better visualization 
# featureScores = pd.concat([dfcolumns,dfscores,dfpvalues],axis=1)
# featureScores.columns = ['Specs','Score','PValue']  #naming the dataframe columns
# print(featureScores.nlargest(20,'Score'))  #print 10 best features

In [12]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2, f_classif
# #apply SelectKBest class to extract top 10 best features
# bestfeatures = SelectKBest(score_func=chi2, k=6)
# fit = bestfeatures.fit(X,y)
# dfscores = pd.DataFrame(fit.scores_)
# dfpvalues = pd.DataFrame(fit.pvalues_)
# dfcolumns = pd.DataFrame(X.columns)
# #concat two dataframes for better visualization 
# featureScores = pd.concat([dfcolumns,dfscores,dfpvalues],axis=1)
# featureScores.columns = ['Specs','Score','PValue']  #naming the dataframe columns
# print(featureScores.nlargest(20,'Score'))  #print 10 best features

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
model.fit(X_train, y_train.ravel())

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
y_pred = model.predict(X_test)

In [16]:
pd.DataFrame({"actual": y_test.reshape(-1), "prediction": y_pred.reshape(-1)})

               actual        prediction
0     Robert Herjavec      Daymond John
1        Daymond John  Barbara Corcoran
2     Robert Herjavec   Robert Herjavec
3       Kevin O'Leary      Lori Greiner
4          Mark Cuban     Kevin O'Leary
..                ...               ...
134     Kevin O'Leary     Kevin O'Leary
135  Barbara Corcoran  Barbara Corcoran
136      Daymond John      Lori Greiner
137      Daymond John  Barbara Corcoran
138      Lori Greiner  Barbara Corcoran

[139 rows x 2 columns]

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.18705035971223022

In [18]:
# Import ML models from sklearn
from sklearn.linear_model import LogisticRegression # Regression classifier
from sklearn.tree import DecisionTreeClassifier # Decision Tree classifier
from sklearn import svm # Support Vector Machine
from sklearn.linear_model import SGDClassifier # Stochastic Gradient Descent Classifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier # Random Forest and Gradient Boosting Classifier
from sklearn.naive_bayes import MultinomialNB # Naive Bayes Classifier 
from sklearn.metrics import accuracy_score, recall_score, confusion_matrix # Some metrics to check the performance of the models

In [19]:
# Setting parameters for each algorithm - these are tunable to achieve max accuracy

Classifiers = {'LR':LogisticRegression(random_state=10,C=5,max_iter=300, solver='lbfgs')
               ,'DTC':DecisionTreeClassifier(random_state=10,min_samples_leaf=2)
               ,'RF':RandomForestClassifier(random_state=10,n_estimators=100,n_jobs=-1)
               # ,'GBC':GradientBoostingClassifier(random_state=10,n_estimators=400,learning_rate=0.2)
               ,'SGD':SGDClassifier(loss="hinge", penalty="l2")
               # ,'SVM':svm.SVC(kernel='linear', C=0.1)
               ,'NB':MultinomialNB(alpha=.05)
               }

In [20]:
Classifiers.keys()

dict_keys(['LR', 'DTC', 'RF', 'SGD', 'NB'])

In [21]:
# Create a pipeline so you can reuse the code

def ML_Pipeline(clf_name):
    clf = Classifiers[clf_name]
    fit = clf.fit(X, y.ravel())
    y_pred = clf.predict(X_test)
    # Accuracy = accuracy_score(y_test,y_pred)
    # Precision = metrics.precision_score(y_test,y_pred)
    # Recall = recall_score(y_test,y_pred)
    # Confusion_matrix = confusion_matrix(y_test,y_pred)
    # print('Classifier = '+(clf_name))
    # print('Accuracy = '+str(Accuracy))
    # print('Precision = '+str(Precision))
    # print('Recall = '+str(Recall))
    # print(Confusion_matrix)
    # print('==='*20) 
    return clf

In [24]:
clf_dict = []
for clf_name in Classifiers.keys():
    clf = Classifiers[clf_name]
    fit = clf.fit(X_train, y_train.ravel())
    y_pred = clf.predict(X_test)
    Accuracy = accuracy_score(y_test,y_pred)
    # Precision = metrics.precision_score(y_test,y_pred)
    # Recall = recall_score(y_test,y_pred)
    Confusion_matrix = confusion_matrix(y_test,y_pred)
    clf_dict.append({'Classifier': clf_name, 'Accuracy': Accuracy 
    # ,'Precision': Precision, 'Recall': Recall
    })
    print('Classifier = '+(clf_name))
    print('Accuracy = '+str(Accuracy))
    # print('Precision = '+str(Precision))
    # print('Recall = '+str(Recall))
    print(Confusion_matrix)
    print('==='*20)

Classifier = LR
Accuracy = 0.1079136690647482
[[ 0  0  0  0  9  0 13]
 [ 0  0  0  0 10  0 17]
 [ 0  0  0  0  5  0 10]
 [ 0  0  0  0 12  0  9]
 [ 0  0  0  0  8  0  6]
 [ 0  0  0  3  5  0 12]
 [ 0  0  0  0 13  0  7]]
============================================================
Classifier = DTC
Accuracy = 0.3669064748201439
[[ 6  3  3  6  4  0  0]
 [ 8  8  2  4  2  1  2]
 [ 2  2  7  0  4  0  0]
 [ 4  5  0  7  3  1  1]
 [ 2  4  2  2  1  0  3]
 [ 0  3  1  3  0 11  2]
 [ 1  3  0  0  4  1 11]]
============================================================
Classifier = RF
Accuracy = 0.5683453237410072
[[15  2  1  1  3  0  0]
 [11 10  0  4  2  0  0]
 [ 4  0 10  0  1  0  0]
 [ 4  3  0 12  2  0  0]
 [ 6  1  1  3  3  0  0]
 [ 3  0  0  1  3 13  0]
 [ 3  0  1  0  0  0 16]]
============================================================
Classifier = SGD
Accuracy = 0.14388489208633093
[[ 0  0  0  0  0 22  0]
 [ 0  0  0  0  0 27  0]
 [ 0  0  0  0  0 15  0]
 [ 0  0  0  0  0 21  0]
 [ 0  0  0  0  0 13  1]
 [ 0  0  0  0  0 20  0]
 [ 0  0  0  0  0 20  0]]
============================================================
Classifier = NB
Accuracy = 0.18705035971223022
[[13  0  0  5  0  4  0]
 [15  2  1  5  0  4  0]
 [ 9  0  1  2  0  2  1]
 [ 7  1  0  5  0  7  1]
 [ 5  1  0  1  0  7  0]
 [11  0  0  4  0  4  1]
 [ 6  1  0  6  0  6  1]]
============================================================

In [25]:
clf_df = pd.DataFrame(clf_dict)
clf_df

  Classifier  Accuracy
0         LR  0.107914
1        DTC  0.366906
2         RF  0.568345
3        SGD  0.143885
4         NB  0.187050

In [26]:
clf_df['Accuracy'].max()

0.5683453237410072

In [27]:
best_clf = clf_df.loc[clf_df['Accuracy'].idxmax(),'Classifier']
best_clf

'RF'

In [28]:
best_model = ML_Pipeline(best_clf)
best_model

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [29]:
from sklearn.externals import joblib
joblib.dump(best_model, f"{shark_to_model}_model.pkl")

C:\Users\atk285\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['Deal_Shark 1_model.pkl']

In [30]:
import pickle
pickle.dump(selected_features.columns,open(f"{shark_to_model}_vocab.pkl","wb"))

In [25]:
y_smote

array(['Barbara Corcoran', 'Barbara Corcoran', 'Robert Herjavec',
       'Barbara Corcoran', 'Barbara Corcoran', 'Others',
       'Barbara Corcoran', "Kevin O'Leary", 'Barbara Corcoran',
       "Kevin O'Leary", 'Others', 'Barbara Corcoran', 'Robert Herjavec',
       'Daymond John', 'Barbara Corcoran', 'Barbara Corcoran',
       'Barbara Corcoran', 'Barbara Corcoran', 'Daymond John',
       'Daymond John', "Kevin O'Leary", 'Others', 'Daymond John',
       'Barbara Corcoran', 'Barbara Corcoran', 'Others',
       'Barbara Corcoran', 'Barbara Corcoran', 'Daymond John', 'Others',
       'Daymond John', "Kevin O'Leary", 'Barbara Corcoran',
       'Daymond John', 'Barbara Corcoran', 'Mark Cuban',
       'Robert Herjavec', 'Mark Cuban', 'Barbara Corcoran',
       'Daymond John', 'Robert Herjavec', 'Barbara Corcoran',
       'Daymond John', 'Barbara Corcoran', 'Others', 'Daymond John',
       'Daymond John', 'Mark Cuban', 'Mark Cuban', 'Robert Herjavec',
       'Robert Herjavec', 'Lori Greiner', 'Lori Greiner', 'Lori Greiner',
       "Kevin O'Leary", 'Daymond John', 'Lori Greiner', 'Mark Cuban',
       'Mark Cuban', 'Barbara Corcoran', 'Daymond John',
       'Barbara Corcoran', 'Mark Cuban', 'Mark Cuban', 'Daymond John',
       'Mark Cuban', 'Lori Greiner', 'Barbara Corcoran',
       'Barbara Corcoran', 'Daymond John', 'Barbara Corcoran',
       'Barbara Corcoran', 'Daymond John', "Kevin O'Leary",
       'Barbara Corcoran', 'Barbara Corcoran', 'Daymond John',
       'Mark Cuban', 'Mark Cuban', 'Daymond John', 'Lori Greiner',
       'Lori Greiner', 'Daymond John', 'Lori Greiner', 'Barbara Corcoran',
       'Daymond John', 'Lori Greiner', "Kevin O'Leary", 'Lori Greiner',
       'Lori Greiner', "Kevin O'Leary", 'Barbara Corcoran',
       "Kevin O'Leary", 'Barbara Corcoran', 'Mark Cuban', 'Mark Cuban',
       'Lori Greiner', 'Daymond John', 'Mark Cuban', 'Lori Greiner',
       'Daymond John', 'Daymond John', 'Others', "Kevin O'Leary",
       'Mark Cuban', 'Daymond John', 'Mark Cuban', 'Lori Greiner',
       'Daymond John', 'Mark Cuban', 'Lori Greiner', 'Mark Cuban',
       'Mark Cuban', 'Daymond John', "Kevin O'Leary", 'Robert Herjavec',
       'Lori Greiner', 'Mark Cuban', 'Daymond John', "Kevin O'Leary",
       "Kevin O'Leary", 'Mark Cuban', 'Barbara Corcoran',
       'Barbara Corcoran', 'Barbara Corcoran', 'Barbara Corcoran',
       "Kevin O'Leary", 'Robert Herjavec', 'Barbara Corcoran',
       'Daymond John', 'Daymond John', 'Robert Herjavec', 'Mark Cuban',
       'Robert Herjavec', 'Lori Greiner', 'Lori Greiner',
       'Barbara Corcoran', 'Lori Greiner', 'Mark Cuban', "Kevin O'Leary",
       'Daymond John', 'Lori Greiner', 'Others', 'Others',
       'Barbara Corcoran', 'Lori Greiner', "Kevin O'Leary",
       'Daymond John', 'Daymond John', 'Robert Herjavec', "Kevin O'Leary",
       'Robert Herjavec', 'Lori Greiner', 'Lori Greiner', 'Daymond John',
       'Lori Greiner', 'Lori Greiner', 'Lori Greiner', 'Barbara Corcoran',
       'Daymond John', 'Lori Greiner', 'Robert Herjavec', 'Mark Cuban',
       "Kevin O'Leary", 'Mark Cuban', 'Barbara Corcoran', 'Mark Cuban',
       'Daymond John', 'Others', 'Lori Greiner', 'Mark Cuban',
       'Lori Greiner', 'Robert Herjavec', 'Barbara Corcoran',
       "Kevin O'Leary", "Kevin O'Leary", 'Mark Cuban', 'Others',
       'Mark Cuban', 'Barbara Corcoran', 'Mark Cuban', 'Lori Greiner',
       'Others', 'Mark Cuban', 'Others', 'Robert Herjavec',
       'Lori Greiner', 'Mark Cuban', 'Daymond John', 'Daymond John',
       'Robert Herjavec', 'Lori Greiner', 'Daymond John', 'Mark Cuban',
       "Kevin O'Leary", 'Daymond John', 'Mark Cuban', "Kevin O'Leary",
       'Lori Greiner', 'Lori Greiner', 'Mark Cuban', 'Barbara Corcoran',
       "Kevin O'Leary", 'Robert Herjavec', 'Daymond John', 'Daymond John',
       'Lori Greiner', 'Barbara Corcoran', 'Lori Greiner', 'Lori Greiner',
       'Robert Herjavec', 'Lori Greiner', 'Lori Greiner', 'Daymond John',
       'Lori Greiner', 'Mark Cuban', "Kevin O'Leary", 'Barbara Corcoran',
       'Lori Greiner', 'Barbara Corcoran', 'Daymond John', 'Lori Greiner',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Others', 'Others', 'Robert Herjavec', 'Others', 'Others',
       'Lori Greiner', 'Daymond John', 'Daymond John', 'Barbara Corcoran',
       'Robert Herjavec', "Kevin O'Leary", 'Daymond John', 'Mark Cuban',
       'Others', 'Others', 'Robert Herjavec', 'Others', 'Others',
       'Mark Cuban', 'Robert Herjavec', 'Mark Cuban', 'Barbara Corcoran',
       "Kevin O'Leary", 'Daymond John', 'Lori Greiner', 'Lori Greiner',
       'Lori Greiner', 'Others', 'Lori Greiner', 'Mark Cuban',
       'Daymond John', 'Mark Cuban', 'Lori Greiner', 'Lori Greiner',
       'Daymond John', 'Daymond John', 'Mark Cuban', 'Lori Greiner',
       'Lori Greiner', 'Mark Cuban', 'Others', 'Barbara Corcoran',
       'Lori Greiner', 'Lori Greiner', 'Mark Cuban', 'Mark Cuban',
       "Kevin O'Leary", 'Mark Cuban', 'Lori Greiner', 'Daymond John',
       'Lori Greiner', "Kevin O'Leary", "Kevin O'Leary",
       'Barbara Corcoran', 'Daymond John', "Kevin O'Leary",
       'Lori Greiner', 'Robert Herjavec', "Kevin O'Leary", 'Lori Greiner',
       'Lori Greiner', "Kevin O'Leary", 'Robert Herjavec', 'Others',
       'Mark Cuban', 'Others', 'Mark Cuban', 'Mark Cuban', 'Lori Greiner',
       "Kevin O'Leary", 'Robert Herjavec', 'Daymond John', 'Daymond John',
       'Mark Cuban', 'Lori Greiner', 'Barbara Corcoran',
       'Barbara Corcoran', 'Daymond John', 'Daymond John',
       'Barbara Corcoran', 'Mark Cuban', 'Mark Cuban', "Kevin O'Leary",
       'Lori Greiner', "Kevin O'Leary", 'Barbara Corcoran',
       "Kevin O'Leary", 'Daymond John', 'Lori Greiner', 'Lori Greiner',
       'Robert Herjavec', 'Lori Greiner', 'Barbara Corcoran',
       'Barbara Corcoran', 'Lori Greiner', 'Lori Greiner', 'Lori Greiner',
       'Robert Herjavec', 'Mark Cuban', 'Daymond John', 'Lori Greiner',
       'Robert Herjavec', 'Robert Herjavec', 'Barbara Corcoran',
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", 'Lori Greiner',
       'Lori Greiner', "Kevin O'Leary", 'Others', 'Daymond John',
       'Mark Cuban', 'Barbara Corcoran', 'Others', 'Lori Greiner',
       'Barbara Corcoran', 'Daymond John', 'Robert Herjavec',
       'Barbara Corcoran', "Kevin O'Leary", "Kevin O'Leary",
       'Barbara Corcoran', 'Lori Greiner', 'Daymond John', 'Lori Greiner',
       'Others', 'Daymond John', 'Mark Cuban', 'Others',
       'Robert Herjavec', 'Lori Greiner', 'Robert Herjavec', 'Others',
       'Mark Cuban', 'Robert Herjavec', 'Daymond John', 'Lori Greiner',
       "Kevin O'Leary", 'Lori Greiner', 'Daymond John', 'Lori Greiner',
       'Robert Herjavec', "Kevin O'Leary", 'Lori Greiner', 'Mark Cuban',
       'Barbara Corcoran', 'Mark Cuban', 'Lori Greiner', 'Mark Cuban',
       'Robert Herjavec', 'Robert Herjavec', "Kevin O'Leary",
       "Kevin O'Leary", 'Barbara Corcoran', 'Barbara Corcoran',
       'Barbara Corcoran', 'Barbara Corcoran', 'Barbara Corcoran',
       'Barbara Corcoran', 'Barbara Corcoran', 'Barbara Corcoran',
       'Barbara Corcoran', 'Barbara Corcoran', 'Barbara Corcoran',
       'Barbara Corcoran', 'Barbara Corcoran', 'Barbara Corcoran',
       'Barbara Corcoran', 'Barbara Corcoran', 'Barbara Corcoran',
       'Daymond John', 'Daymond John', 'Daymond John', 'Daymond John',
       'Daymond John', 'Daymond John', 'Daymond John', 'Daymond John',
       'Daymond John', 'Daymond John', 'Daymond John', 'Daymond John',
       'Daymond John', 'Daymond John', 'Daymond John', "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary", "Kevin O'Leary",
       'Mark Cuban', 'Mark Cuban', 'Mark Cuban', 'Mark Cuban',
       'Mark Cuban', 'Mark Cuban', 'Mark Cuban', 'Mark Cuban',
       'Mark Cuban', 'Mark Cuban', 'Mark Cuban', 'Mark Cuban',
       'Mark Cuban', 'Mark Cuban', 'Mark Cuban', 'Mark Cuban',
       'Mark Cuban', 'Mark Cuban', 'Mark Cuban', 'Mark Cuban', 'Others',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Others', 'Others', 'Others', 'Others', 'Others', 'Others',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec', 'Robert Herjavec', 'Robert Herjavec',
       'Robert Herjavec'], dtype=object)

In [45]:
# "Kevin O'Leary"
# "Barbara Corcoran"
# "Robert Herjavec"
# "Daymond John"
# "Lori Greiner"
# "Mark Cuban"
# "Others"
confusion_matrix(y_test,y_pred, labels=["Barabara Corcoran","Daymond John","Lori Greiner","Mark Cuban","Kevin O'Leary","Robert Herjavec","Others"])

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 0, 4, 0, 4, 0, 1],
       [0, 0, 5, 0, 7, 1, 1],
       [0, 0, 1, 0, 8, 0, 0],
       [0, 0, 3, 0, 4, 1, 1],
       [0, 1, 2, 0, 3, 0, 2],
       [0, 0, 5, 0, 3, 0, 1]], dtype=int64)